body {
    background-image: url("https://cdn.discordapp.com/banners/230296179991248896/751a600933613b111698f6a424327455.jpg?size=1024");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    user-select: none;
}

a {
    text-decoration: underline;
    color: #00b0f4;
}

button, button:active, button:focus, button:active:focus, button:visited {
    outline: none;
}

.switch {
    float: right;
}

h1, #title {
    display: table;
    margin: auto;
    font-size: 5vw;
    font-weight: 600;
    color: white;
    margin-top: 2%;
    margin-bottom: 5%;
}

.sub-heading {
    display: inline-block;
}

#overlay {
    background-color: rgba(51, 53, 57, 0.85);
    margin-left: 7.5%;
    margin-right: 7.5%;
    height: 100vh;
    overflow: scroll;
}

#content {
    color: #dcddde;
    padding: 3%;
    line-height: 175%;
    font-size: 1em;
    overflow: scroll;
}

#check {
    cursor: pointer;
}


/* Tried making the checkbox look fancy, failed smh

input[type="checkbox"] {
    position: relative;
    cursor: pointer;
}
input[type="checkbox"]:before {
    content: "";
    display: block;
    position: absolute;
    border: 2px solid #8e9297;
    background-color: white;
    border-radius: 1px;
    width: 16px;
    height: 16px;
}
input[type="checkbox"]:checked:after {
    content: "";
    display: block;
    position: absolute;
    border: 2px solid #8e9297;
    background-color: #67db86;
    border-radius: 1px;
    width: 16px;
    height: 16px;
} */

.ping {
    color: #7289da;
    background-color: rgba(114,137,218,.1);
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    cursor: pointer;
    padding: 2px;
    text-decoration: none;
}

.ping:hover {
    color: white;
    background-color: rgba(114,137,218,.7);
}

.warning {
    display: none;
    color: #f04747;
}

.button {
    display: table;
    background-color: #f04747;
    /* background-color: #43b581; */
    border: none;
    border-radius: 5px;
    font-size: 150%;
    padding: 1%;
    width: 100%;
    color: white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: 0.35s ease;
}

.button#verify {
    /* display: none; */
    background-color: #a4b1de;
}

.themeSwitch {
    margin-top: 20px;
    float: right;
    border-radius: 20px;
    width: 24px;
    height: 24px;
    border: none;
    transition: 0ms;
    background-image: url("/assets/moon.svg");
    background-size: contain;
}

.themeSwitch:hover {
    background-color: #dbdbdb;
}

.themeSwitch:active {
    background-color: #bbbbbb;
}

.btnImg {
    width: 15px;
    height: 15px;
    margin-left: -1.5px;
    margin-top: 2px;
}


.light h1, .light #title, .light #content{
    color: #2e3338;
}
.light a {
    color: #0067e0;
}
.light #ping {
    background-color: #f1f3fb;
}
.light #overlay {
    /* background-color: rgba(227, 229, 232, 0.85); */
    background-color: rgba(242, 243, 245, 0.85);
}
.light hr {
    background-color: #7289da;
}
.light .themeSwitch {
    background-image: url("/assets/sun.svg");
    background-color: #333539;
}
.light .themeSwitch:hover {
    background-color: #35373b;
}
.light .themeSwitch:active {
    background-color: #252629;
}

@media only screen and (max-width: 3600px) {
    #content {
        font-size: 300%;
    }
}

@media only screen and (max-width: 2400px) {
    #content {
        font-size: 200%;
    }
}

@media only screen and (max-width: 1440px) {
    #content {
        font-size: 100%;
    }
}

@media only screen and (max-width: 800px) {
    h1, #title {
        font-size: 6vw;
    }

    #content {
        font-size: 100%;
    }
}

@media only screen and (max-width: 400px) {
    h1, #title {
        font-size: 7.5vw;
    }
}

@media only screen and (max-width: 350px) {
    h1, #title {
        font-size: 7vw;
    }
}